@import "./variables.scss";

.exchange-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #020e21, #42659e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #020e21, #42659e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #020e21, #42659e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #020e21, #42659e); /* Standard syntax */
}

.price-panel-container {
  display: flex;
  flex-direction: column;  
  flex: 1;
  min-width: 380px;
}

.extension-panel-container {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.extension-table-item-left{
   flex-grow: 1;
   text-align: left;
}
.extension-table-item-right{
   flex-grow: 1;
   text-align: right;
}